---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<section class="hero">
  <div class="hero-title">
    <h1>EVERY PACKAGING <br> CARRIES A STORY</h1>
    <h2>...makes yours sustainable</h2>
    <img class="hero-img" src="public/cykel.svg" alt="">
  </div>

  <div class="wave">
    <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <path fill="#f6e8cc" d="M0,224L80,197.3C160,171,320,117,480,117.3C640,117,800,171,960,176C1120,181,1280,139,1360,117.3L1440,96V320H0Z"></path>
    </svg>
  </div>
</section>

<section class="toki">
  <p>“At TÓKI, we create packaging with purpose. Our designs protect, express, and endure — with sustainability at the core. Because every package tells a story. Make yours a sustainable one.”</p>
</section>
<section class="impact">
  <h2>
      <span>our impact</span><br>
      <span>today</span>
  </h2>
  
  <div class="impact-cards">    
    <div class="card">
      <img src="public/firkant1.svg" alt="">
      <div class="card-text" style="top: 10%; left: 35%;">
        <span>10%</span>
        <p>litres of water saved</p>
      </div>
    </div>

    <div class="card">
      <img src="public/firkant2.svg" alt="">
      <div class="card-text" style="top: 45%; left: 35%;">
        <span>24%</span>
        <p>litres of water saved</p>
      </div>
    </div>

    <div class="card">
      <img src="public/firkant3.svg" alt="">
      <div class="card-text" style="top: 60%; left: 35%;">
        <span>80%</span>
        <p>litres of water saved</p>
      </div>
    </div>
  </div>
</section>
<section class="work">
<svg class="work-svg" width="100%" height="auto" viewBox="0 0 1280 1972" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-0.326965 138.43C453.02 -200.975 1071.6 198.116 1280 138.43V1906.07C1102.6 2118.1 514.188 1735.77 -0.326904 1906.07C-514.841 2076.37 -0.326965 138.43 -0.326965 138.43Z" fill="#22372F"/>
</svg>

  <div class="tekst1">
    <h2>how we work</h2>
    <p>With TÓKI Flow, we create more than packaging – we build systems that work.
 Solutions that strengthen brands, optimize value chains, and reduce impact.</p>
  </div>
</section>



</Layout>

<style>
* {
  margin: 0;
  padding: 0;
}
h1,h2{
  color: #DEB959;
}
body{
    background-color: #f6e8cc; 
}

.hero {
  background-color: #22372F;
  color: #FFDE89;
  padding: 70px 25px;
  position: relative;
  overflow: hidden;
  height: 500px
}

.hero-title {
  position: relative;
  z-index: 2;
  text-align: center;
}
.hero-img{
  position: absolute;
  width: 50%;
  top: 225%;
  left: 5%;
}

.wave {
  position: absolute;
  bottom: -50px; /* flytter bølgen nedad */
  left: 0;
  width: 100%;
  height: 400px; /* højere end før */
  overflow: visible;
  z-index: 1;
}

.wave svg {
  width: 100%;
  height: 100%;
  display: block;
}

.toki {
  background-color: #f6e8cc; 
  padding: 100px 25px;
  position: relative;
  z-index: 0;
  text-align: center;
  line-height: 2;
}
.impact {
  position: relative;
  width: 100%;
  height: 100vh; /* hele viewport-højden */
  overflow: hidden;
}

.impact-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;   /* hele skærmens bredde */
  height: 100vh;  /* hele viewport-højden */
  z-index: -1;    /* bag indholdet */
}


.impact-cards {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card {
  position: relative;
  display: inline-block;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-text {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  color: #204E2E;
}

.card-text span {
  font-size: 1rem;
  font-weight: 700;
}

.card-text p {
  font-size: 0.6rem;
  margin-top: 5px;
  color: white;           
}
.impact h2 {
  font-size: 2.5rem; 
  font-weight: 700;
  line-height: 1.1; 
  text-align: left; 
  color: #DEB959;   
  max-width: 400px; 
  width: 90%;
  margin-bottom: -80px;
  padding-top: 100px;
  padding-left: 40px;

}
.work {
  position: relative;   /* vigtig! */
  margin-top: -500px;
}

.work-svg {
  width: 100%;
  height: auto;
  display: block;
}

.tekst1 {
  position: absolute;   
  top: 20%;             
  left: 0;
  z-index: 2;
  color: #DEB959;       
  max-width: 400px;
  padding: 0 40px;
  line-height: 2;
}




@media (min-width: 1024px) {
  .impact-svg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}







</style>











