@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad/Afacad-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Momo";
  src: url("/fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf");
  font-weight: 400; /* eller 700 hvis fonten er bold */
  font-style: normal;
  font-display: swap;
}

p,
nav a,
label,
footer_service p {
  font-family: "Afacad";
}

h1,
h2,
h3 {
  font-family: "Momo";
}
